body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #89cff0, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 10px;
  background: #0077cc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

#result {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.weather-icon {
  width: 100px;
  height: 100px;
}
