body {
  margin: 0;
}

.header {
  background-color: red;
  height: 33vh;

  font-size: 40px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: yellow;
  height: 34vh;
}

.footer {
  background-color: green;
  height: 33vh;
}
